h1{

    color: blueviolet;
    height: 150px;
    background: rgba(13, 0, 255, 0.632);
    text-align: center;
    line-height: 150px;
}
/* заголовок 1- ого уровня, цвет заголовка фиолетовый, высота 150 пикселей; делаем картинку за тестом, цвет синий, тект переносим в середину */
h2{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
cursor: help;
color: aqua;
}
/* заголовок 2- ого уровня, создаем шрифт, если курсор навести включается анимация курсора, цвет заголовка голубой */
h3{
    letter-spacing: 5px;
    cursor: alias;
    color: rgb(255, 0, 0);
}
/* заголовок 3- ого уровня, создаем ширину между буквами заголовка, если курсор навести включается анимация курсора, цвет заголовка красный*/
h4{
    font-size: 46px;
    cursor: col-resize;
    color: blue;
}
/* заголовок 4- ого уровня, font-size: размер шрифта 46px, если курсор навести включается анимация курсора, цвет заголовка синий */
h5{
    text-align: center;
    cursor: context-menu;
    color: forestgreen;
}
/* заголовок 5- ого уровня, тект переносим в середину, если курсор навести включается анимация курсора, цвет заголовка зеленый */
h6{
    text-align: right;
    cursor: zoom-in;
    color: midnightblue;
}
/* заголовок 6- ого уровня, тект переносим в права, если курсор навести включается анимация курсора, цвет заголовка темно- синий */
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: rgba(172, 255, 47, 0.515);
    padding: 10px;
}
/* параграф - p, создаем шрифт, делаем картинку за тестом, цвет бежевый, padding: 10px; --- */
a{
    text-decoration: none;
    color: blueviolet;
}
/* создаем неизменный текст, текст неизменяется (сылка не подчеркивается), цвет фиолетовый */